<div class="container">
    <p style="font-size: 56px;">Thêm học viên</p>
    <div class="container_main">
        <div class="table">
            <form class="b-form" [formGroup]="addPerson">
            <div class="input-client">
                <label class="label-client">Họ và tên</label>
                <tui-input class="input" formControlName="name">
                    enter
                    <input tuiTextfield type="text" />
                </tui-input>
            </div>

            <div class="input-client">
                <label class="label-client">Ngày tinh</label>
                <tui-input tuiTextfieldSize="m" class="b-form" formControlName="date" [tuiTextfieldCleaner]="true">
                    enter
                    <input tuiTextfield type="text" />
                </tui-input>
            </div>

            <div class="input-client">
                <label class="label-client">Email</label>
                <tui-input class="input" formControlName="email">
                    enter
                    <input tuiTextfield type="text" />
                </tui-input>
            </div>

            <div class="input-client">
                <label class="label-client">Số điện thoại</label>
                <tui-input class="input" formControlName="phone">
                    enter
                    <input tuiTextfield type="text" />
                </tui-input>
            </div>
        </form>
        </div>

        <div class="btn">
            <button  appearance="primary" tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3" size="m" style="margin-top: 1rem;">
                Create
            </button>
        </div>

    </div>
</div>